name: ci

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main

permissions:
  contents: read

env:
  GO_VERSION: "~1.21"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Node
        uses: actions/setup-node@v4
      - run: npm ci

      - name: Lint Gherkin
        run: npm run gherkin-lint

      - name: Build flagd-testbed Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: flagd/Dockerfile
          push: false

      - name: Build flagd-testbed-unstable Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: flagd/Dockerfile.unstable
          push: false

      - name: Build sync-testbed Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: sync/Dockerfile
          push: false
        
      - name: Build sync-testbed-unstable Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: sync/Dockerfile.unstable
          push: false
