name: Run Release Please

on:
  push:
    branches:
      - main

permissions:
  contents: read

env:
  REGISTRY: ghcr.io
  FLAGD_IMAGE_NAME: flagd-testbed
  SYNC_IMAGE_NAME: sync-testbed
  GO_VERSION: "~1.21"

jobs:
  release-please:
    permissions:
      contents: write # for google-github-actions/release-please-action to create release commit
      pull-requests: write # for google-github-actions/release-please-action to create release PR
    runs-on: ubuntu-latest

    # Release-please creates a PR that tracks all changes
    steps:
      - uses: google-github-actions/release-please-action@db8f2c60ee802b3748b512940dde88eabd7b7e01 # v3
        id: release
        with:
          command: manifest
          token: ${{secrets.GITHUB_TOKEN}}
          default-branch: main
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      release_tag_name: ${{ steps.release.outputs.tag_name }}

  build-push:
    needs: release-please
    name: build and push image to the github registery
    permissions:
      packages: write
    runs-on: ubuntu-latest
    if: ${{ needs.release-please.outputs.release_created }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ needs.release-please.outputs.release_tag_name }}

      - name: Log in to the Container registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push flagd-testbed Docker image
        uses: docker/build-push-action@48aba3b46d1b1fec4febb7c5d0c644b249a11355 # v6
        with:
          context: .
          file: flagd/Dockerfile
          target: testbed
          push: true
          tags: |
            ${{ env.REGISTRY }}/open-feature/${{ env.FLAGD_IMAGE_NAME }}:${{ needs.release-please.outputs.release_tag_name }}
            ${{ env.REGISTRY }}/open-feature/${{ env.FLAGD_IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/open-feature/${{ env.SYNC_IMAGE_NAME }}:${{ needs.release-please.outputs.release_tag_name }}
            ${{ env.REGISTRY }}/open-feature/${{ env.SYNC_IMAGE_NAME }}:latest      

      - name: Build and push flagd-testbed-unstable Docker image
        uses: docker/build-push-action@48aba3b46d1b1fec4febb7c5d0c644b249a11355 # v6
        with:
          context: .
          file: flagd/Dockerfile
          target: unstable
          push: true
          tags: |
            ${{ env.REGISTRY }}/open-feature/${{ env.FLAGD_IMAGE_NAME }}-unstable:${{ needs.release-please.outputs.release_tag_name }}
            ${{ env.REGISTRY }}/open-feature/${{ env.FLAGD_IMAGE_NAME }}-unstable:latest
            ${{ env.REGISTRY }}/open-feature/${{ env.SYNC_IMAGE_NAME }}:${{ needs.release-please.outputs.release_tag_name }}
            ${{ env.REGISTRY }}/open-feature/${{ env.SYNC_IMAGE_NAME }}:latest

      - name: Build and push flagd-testbed-ssl Docker image
        uses: docker/build-push-action@48aba3b46d1b1fec4febb7c5d0c644b249a11355 # v6
        with:
          context: .
          file: flagd/Dockerfile
          target: ssl
          push: true
          tags: |
            ${{ env.REGISTRY }}/open-feature/${{ env.FLAGD_IMAGE_NAME }}-ssl:${{ needs.release-please.outputs.release_tag_name }}
            ${{ env.REGISTRY }}/open-feature/${{ env.FLAGD_IMAGE_NAME }}-ssl:latest

      - name: Build and push flagd-testbed-ssl Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: flagd/Dockerfile
          target: socket
          push: true
          tags: |
            ${{ env.REGISTRY }}/open-feature/${{ env.FLAGD_IMAGE_NAME }}-socket:${{ needs.release-please.outputs.release_tag_name }}
            ${{ env.REGISTRY }}/open-feature/${{ env.FLAGD_IMAGE_NAME }}-socket:latest

